.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: navy;
}

.box{
    width: 300px;
    height: 300px;
    background-color: rgb(160, 160, 140);
    border-radius: 1rem;
    color: white;
}

h1{
    color:blue;
    text-align: center;
}